<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- Customer FormGroup -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row mb-3">
                        <div class="col-md-2"><label for="firstName">First
                                Name</label></div>
                        <div class="col-md-9">
                            <input type="text" id="firstName"
                                formControlName="firstName" class="form-control"
                                placeholder="First Name">
                            <div *ngIf="firstName.invalid && (firstName.dirty||firstName.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhiteSpace']">
                                    FirstNAme is Required
                                </div>
                                <div *ngIf="firstName?.errors?.['minlength']">
                                    FirstNAme altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label for="lastName">Last
                                Name</label></div>
                        <div class="col-md-9">
                            <input type="text" id="lastName"
                                formControlName="lastName" class="form-control"
                                placeholder="Last Name">
                            <div *ngIf="lastName.invalid && (lastName.dirty||lastName.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhiteSpace']">
                                    lastName is Required
                                </div>
                                <div *ngIf="lastName?.errors?.['minlength']">
                                    LastName altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label
                                for="email">Email</label></div>
                        <div class="col-md-9">
                            <input type="email" id="email"
                                formControlName="email" class="form-control"
                                placeholder="Email">
                            <div *ngIf="email.invalid && (email.dirty||email.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="email?.errors?.['required']">
                                    email is Required
                                </div>
                                <div *ngIf="email?.errors?.['pattern']">
                                    Emal format incorrect
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <select formControlName="country" class="form-control" (change)="getCountryCode($event, 'shippingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                            </select>
                            <div *ngIf="country.invalid && (country.dirty||country.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="country?.errors?.['required']">
                                    Country is Required
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <input type="text" id="street"
                                formControlName="street" class="form-control">

                            <div *ngIf="street.invalid && (street.dirty||street.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="street?.errors?.['required'] || street?.errors?.['notOnlyWhiteSpace']">
                                    street is Required
                                </div>
                                <div *ngIf="street?.errors?.['minlength']">
                                    street altleast 2 characters long
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <input type="text" id="city" formControlName="city"
                                class="form-control">
                            <div *ngIf="city.invalid && (city.dirty||street.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="city?.errors?.['required'] || city?.errors?.['notOnlyWhiteSpace']">
                                    city is Required
                                </div>
                                <div *ngIf="city?.errors?.['minlength']">
                                    city altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label
                                >State</label></div>
                        <div class="col-md-9">
                            <select formControlName="state"
                                class="form-control">
                                <option *ngFor="let state of states"
                                [ngValue]="state">{{ state.name }}</option>
                            </select>
                            <div *ngIf="state.invalid && (state.dirty||state.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="state?.errors?.['required']">
                                    State is Required
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <input type="text" id="zipcode"
                                formControlName="zipcode" class="form-control">
                            <div *ngIf="zipcode.invalid && (zipcode.dirty||zipcode.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="zipcode?.errors?.['required'] || zipcode?.errors?.['notOnlyWhiteSpace']">
                                    zipcode is Required
                                </div>
                                <div *ngIf="zipcode?.errors?.['minlength']">
                                    zipcode altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Checkbox to Copy Shipping to Billing -->
                <div class="input-space">

                    <input class="form-check-input" type="checkbox"
                        id="sameAddress"
                        (change)="copyShippingAddressToBillingAddress($event)">
                    <label class="form-check-label" for="sameAddress">
                        Billing Address same as Shipping Address
                    </label>

                </div>

                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row mb-3">
                        <div class="col-md-2"><label
                               >Country</label></div>
                        <div class="col-md-9">
                            <select formControlName="country" class="form-control" (change)="getCountryCode($event, 'billingAddress')">
                                <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                            </select>
                            <div *ngIf="billingcountry.invalid && (billingcountry.dirty||billingcountry.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingcountry?.errors?.['required']">
                                    Country is Required
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <input type="text" id="billingStreet"
                                formControlName="street" class="form-control">
                            <div *ngIf="billingstreet.invalid && (billingstreet.dirty||street.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingstreet?.errors?.['required'] || billingstreet?.errors?.['notOnlyWhiteSpace']">
                                    street is Required
                                </div>
                                <div *ngIf="billingstreet?.errors?.['minlength']">
                                    street altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <input type="text" id="billingCity"
                                formControlName="city" class="form-control">
                            <div *ngIf="billingcity.invalid && (billingcity.dirty||street.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingcity?.errors?.['required'] || billingcity?.errors?.['notOnlyWhiteSpace']">
                                    city is Required
                                </div>
                                <div *ngIf="city?.errors?.['minlength']">
                                    city altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label
                                >State</label></div>
                        <div class="col-md-9">
                            <select formControlName="state"
                                class="form-control">
                                <option *ngFor="let state of states"
                                [ngValue]="state">{{ state.name }}</option>
                            </select>
                            <div *ngIf="billingstate.invalid && (billingstate.dirty||state.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingstate?.errors?.['required']">
                                    State is Required
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <input type="text" id="billingZipcode"
                                formControlName="zipcode" class="form-control">
                            <div *ngIf="billingzipcode.invalid && (billingzipcode.dirty||billingzipcode.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="billingzipcode?.errors?.['required'] || billingzipcode?.errors?.['notOnlyWhiteSpace']">
                                    zipcode is Required
                                </div>
                                <div *ngIf="billingzipcode?.errors?.['minlength']">
                                    zipcode altleast 2 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Credit Card Info-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Card
                                Type</label></div>
                        <div class="col-md-9">
                            <select formControlName="cardType"
                                class="form-select">
                                <option>Visa</option>
                                <option>Master Card</option>
                            </select>
                            <div *ngIf="cardType.invalid && (cardType.dirty||cardType.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="cardType?.errors?.['required']">
                                    cardType is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <input type="text" id="nameOnCard"
                                formControlName="nameOnCard"
                                class="form-control">
                            <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty||nameOnCard.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="nameOnCard?.errors?.['required'] || nameOnCard?.errors?.['notOnlyWhiteSpace']">
                                    nameOnCard is Required
                                </div>
                                <div *ngIf="nameOnCard?.errors?.['minlength']">
                                    nameOnCard altleast 2 characters long
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <input type="text" id="cardNumber"
                                formControlName="cardNumber"
                                class="form-control">
                            <div *ngIf="cardNumber.invalid && (cardNumber.dirty||cardNumber.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="cardNumber?.errors?.['required'] || cardNumber?.errors?.['notOnlyWhiteSpace']">
                                    cardNumber is Required
                                </div>
                                <div *ngIf="cardNumber?.errors?.['pattern']">
                                    cardNumber altleast 16 characters long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <input type="text" id="securityCode"
                                formControlName="securityCode"
                                class="form-control">

                            <div *ngIf="securityCode.invalid && (securityCode.dirty||securityCode.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="securityCode?.errors?.['required'] || securityCode?.errors?.['notOnlyWhiteSpace']">
                                    securityCode is Required
                                </div>
                                <div *ngIf="securityCode?.errors?.['pattern']">
                                    securityCode altleast 3 characters long
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label
                                >Expiration
                                Month</label></div>
                        <div class="col-md-9">
                            <select formControlName="expirationMonth"
                                class="form-select">
                                <option
                                    *ngFor="let month of creditCardMonths">{{month}}</option>
                            </select>
                            <div *ngIf="expirationMonth.invalid && (expirationMonth.dirty||expirationMonth.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="expirationMonth?.errors?.['required'] ">
                                    securityCode is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"><label
                                >Expiration
                                Year</label></div>
                        <div class="col-md-9">
                            <select formControlName="expirationYear"
                                class="form-select"
                                (change)="handleMonthsandYears()">
                                <option *ngFor="let year of creditCardYears"
                                    [value]="year">{{ year }}</option>
                            </select>
                            <div *ngIf="expirationYear.invalid && (expirationYear.dirty||expirationYear.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="expirationYear?.errors?.['required'] ">
                                    expirationYear is Required
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-area">
                    <h3>Review your Order</h3>
                    <p>Total Quantity {{totalQuantity}}</p>
                    <p>Shipping FREE</p>
                    <p>Total Price {{totalPrice}}</p>
                </div>
                <!-- Submit Button -->
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>
