<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row mb-3">
                        <div class="col-md-2"><label for="firstName">First Name</label></div>
                        <div class="col-md-9">
                            <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First Name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2"><label for="lastName">Last Name</label></div>
                        <div class="col-md-9">
                            <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2"><label for="email">Email</label></div>
                        <div class="col-md-9">
                            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-info">Purchase</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
