.security-btn {
    position: relative;
    right: 0;
    min-width: 95px;
    color: #fff;
    border: 10px solid #205b8d;
    border-radius: 43px;
    background: #205b8d;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.security-btn:hover {
    background-color: #003f66;
    border-color: #003f66;
}

.login-status-header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align buttons to right */
    flex-wrap: wrap;
    gap: 10px; /* Add space between buttons */
    padding: 10px;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between buttons */
}

.login-status-user-info {
    line-height: 43px;
    border: 1px solid #e5e5e5;
    color: #666;
    padding: 0 17px;
    border-radius: 3px;
    transition: all 0.5s ease;
    font-weight: bold;
    font-size: 16px;
    margin-right: auto; /* Push username to the left */
}
